.card {
  background-color: #eff3f8;

  ::ng-deep .p-card {
    width: 400px;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .forgot-pass a {
    color: gray;
  }

}