<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div>
  <div class="ml-4 mb-4">
    <h2>List of approved invoices</h2>
  </div>
  <div class="flex justify-content-center">
    <p-table 
        [value]="listApprovedInvoices"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-striped"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Generate by</th>
                <th>Approval date</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.fullname }}</td>
                <td>{{ invoice.approvedDate }}</td>
                <td>
                    <button type="button" class="p-button-danger p-button-rounded p-button-text" pButton icon="pi pi-file-pdf" pTooltip="Print report" tooltipPosition="top" (click)="confirm(invoice)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">There are no records yet</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>