<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div>
  <div class="ml-4 mb-4">
    <h2>Generate invoices</h2>
  </div>
  <div class="flex justify-content-start">
    <div class="px-5">
      <form [formGroup]="form" (ngSubmit)="addInvoiceDetail()">
        <p-card header="Create Articles" [style]="{ width: '680px' }">
          <div class="mt-2"> 
            <div class="formgrid grid justify-content-around">
              <div class="field col">
                <label>Article</label><br>
                <input class="" pInputText formControlName="item" />
                <div *ngIf="f['item'].invalid && (f['item'].dirty || f['item'].touched)">
                    <small
                        *ngIf="f['item'].errors?.['required']"
                        class="p-error"
                        >Name article is required</small>
                </div>
              </div>
              <div class="field col">
                <label>Price</label><br>
                <p-inputNumber class="w-full" formControlName="price" mode="decimal" mode="currency" currency="USD" [minFractionDigits]="0" [minlength]="1" [maxlength]="10" />
                <div *ngIf="f['price'].invalid && (f['price'].dirty || f['price'].touched)">
                  <small
                      *ngIf="f['price'].errors?.['required']"
                      class="p-error"
                      >Price is required</small>
                </div>
              </div>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <p-button
              size="small"
              icon="pi pi-plus"
              type="submit"
              [disabled]="form.invalid"
              label="Add Article"
              [raised]="true"
            ></p-button>
        </ng-template>
        </p-card>
      </form>
    </div>
    <div class="flex-grow-1 px-5">
      <p-table
      [value]="listInvoicesDetail"
      styleClass="p-datatable-striped"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Article</th>
            <th>Price</th>
            <th>Delete</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice let-index>
          <tr>
              <td>{{ invoice.item }}</td>
              <td>{{ invoice.price | number}}</td>
              <td>
                  <p-button icon="pi pi-times" size="small" [rounded]="true" [text]="true" severity="danger" (click)="removeInvoice(index)"></p-button>
              </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="3">No articles added</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="mt-4">
        <p-button label="Send articles" size="small" [loading]="loading" [disabled]="listInvoicesDetail.length == 0" (click)="saveInvoicesDetails()"></p-button>
      </div>
    </div>
  </div>
</div>