<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div>
    <div class="ml-4 mb-4">
        <h2>List of pending invoices</h2>
    </div>
    <div class="flex justify-content-center">
        <p-table 
            [value]="listInvoiceToApprove" 
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>Code</th>
                    <th>User</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-invoice>
                <tr>
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.generatedBy }}</td>
                    <td>{{ invoice.createDate | date }}</td>
                    <td>
                        <button type="button" class="p-button-secondary p-button-rounded p-button-text" pButton icon="pi pi-eye" pTooltip="View detail" tooltipPosition="top" (click)="showInvoiceDetail(invoice)"></button>
                        <button type="button" class="p-button-success p-button-rounded p-button-text" pButton icon="pi pi-check" pTooltip="Approve" tooltipPosition="top" (click)="confirm(invoice, true)"></button>
                        <button type="button" class="p-button-danger p-button-rounded p-button-text" pButton icon="pi pi-times" pTooltip="Reject" tooltipPosition="top" (click)="confirm(invoice, false)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">There are no records yet</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [maximizable]="true">
  <ng-template pTemplate="header">
    <h2 class="text-xl font-bold">N° Articles: {{invoiceSelected ? invoiceSelected.invoiceDetails.length : 0 }}</h2>
  </ng-template>
  <div>
    <ng-container *ngIf="invoiceSelected ? invoiceSelected.invoiceDetails.length > 0 : false">
      <ol>
        <li class="my-3" *ngFor="let detail of invoiceSelected.invoiceDetails">
          <div><b>Article: </b> {{detail.item}} - <b>Price: </b> ${{detail.price | number}}</div>
        </li>
      </ol>
    </ng-container>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="visible = false" label="Ok" size="small" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>