<p-toast></p-toast>
<div class="card flex justify-content-center py-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p-card header="Register">
            <div class="">
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="identificationType">Identification Type *</label><br>
                        <p-dropdown formControlName="identificationType" [options]="listIdentificationType" optionLabel="name" optionValue="value" placeholder="-- Select --"></p-dropdown>
                        <div *ngIf="f.identificationType.invalid && (f.identificationType.dirty || f.identificationType.touched)">
                            <small *ngIf="f.identificationType.errors?.['required']" class="p-error">Identification type is required</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="dni">DNI *</label><br>
                        <p-inputNumber class="w-full" formControlName="dni" mode="decimal" [useGrouping]="false" [minlength]="6" [maxlength]="10" />
                        <div *ngIf="f.dni.invalid && (f.dni.dirty || f.dni.touched)">
                            <small *ngIf="f.dni.errors?.['required']" class="p-error">DNI is required</small>
                            <small *ngIf="f.dni.errors?.['minlength']" class="p-error">Minimum 6 numbers</small>
                            <small *ngIf="f.dni.errors?.['maxlength']" class="p-error">Maximum 10 numbers</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="name1">Name *</label><br>
                        <input class="w-full" pInputText formControlName="name1"/>
                        <div *ngIf="f.name1.invalid && (f.name1.dirty || f.name1.touched)">
                            <small *ngIf="f.name1.errors?.['required']" class="p-error">Name is required</small>
                            <small *ngIf="f.name1.errors?.['minlength']" class="p-error">Minimum 2 letter</small>
                            <small *ngIf="f.name1.errors?.['maxlength']" class="p-error">Maximum 40 letter</small>
                            <small *ngIf="f.name1.errors?.['pattern']" class="p-error">Only letters</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="name2">Name 2</label><br>
                        <input class="w-full" pInputText formControlName="name2"/>
                        <div *ngIf="f.name2.invalid && (f.name2.dirty || f.name2.touched)">
                            <small *ngIf="f.name2.errors?.['required']" class="p-error">Name2 is required</small>
                            <small *ngIf="f.name2.errors?.['minlength']" class="p-error">Minimum 2 letter</small>
                            <small *ngIf="f.name2.errors?.['maxlength']" class="p-error">Maximum 40 letter</small>
                            <small *ngIf="f.name2.errors?.['pattern']" class="p-error">Only letters</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="surname1">Surname *</label><br>
                        <input class="w-full" pInputText formControlName="surname1"/>
                        <div *ngIf="f.surname1.invalid && (f.surname1.dirty || f.surname1.touched)">
                            
                            <small *ngIf="f.surname1.errors?.['minlength']" class="p-error">Minimum 2 letter</small>
                            <small *ngIf="f.surname1.errors?.['maxlength']" class="p-error">Maximum 40 letter</small>
                            <small *ngIf="f.surname1.errors?.['pattern']" class="p-error">Only letters</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="surname2">Surname 2</label><br>
                        <input class="w-full" pInputText formControlName="surname2"/>
                        <div *ngIf="f.surname2.invalid && (f.surname2.dirty || f.surname2.touched)">
                            
                            <small *ngIf="f.surname2.errors?.['minlength']" class="p-error">Minimum 2 letter</small>
                            <small *ngIf="f.surname2.errors?.['maxlength']" class="p-error">Maximum 40 letter</small>
                            <small *ngIf="f.surname2.errors?.['pattern']" class="p-error">Only letters</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="email">Email *</label><br>
                        <input class="w-full" pInputText formControlName="email"/>
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                            <small *ngIf="f.email.errors?.['required']" class="p-error">Email is required</small>
                            <small *ngIf="f.email.errors?.['email']" class="p-error">Email invalid</small>
                            <small *ngIf="f.email.errors?.['maxlength']" class="p-error">Maximum 50 letter</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="address">Address</label><br>
                        <input class="w-full" pInputText formControlName="address"/>
                        <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)">
                            <small *ngIf="f.address.errors?.['maxlength']" class="p-error">Maximum 100 letter</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="city">City</label><br>
                        <input class="w-full" pInputText formControlName="city"/>
                        <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)">
                            <small *ngIf="f.city.errors?.['maxlength']" class="p-error">Maximum 30 letter</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="phone">Phone</label><br>
                        <p-inputNumber class="w-full" formControlName="phone" mode="decimal" [useGrouping]="false" [maxlength]="10" />
                        <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)">
                            <small *ngIf="f.phone.errors?.['maxlength']" class="p-error">Maximum 10 numbers</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="username">Username *</label><br>
                        <input class="w-full" pInputText formControlName="username"/>
                        <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                            <small *ngIf="f.username.errors?.['required']" class="p-error">Username is required</small>
                            <small *ngIf="f.username.errors?.['minlength']" class="p-error">Minimum 2 letter</small>
                            <small *ngIf="f.username.errors?.['maxlength']" class="p-error">Maximum 50 letter</small>
                            <small *ngIf="f.username.errors?.['pattern']" class="p-error">Only letters and numbers</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="password">Password *</label><br>
                        <p-password
                            [toggleMask]="true"
                            [feedback]="false"
                            formControlName="password"
                            [required]="true"
                         />
                        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                            <small *ngIf="f.password.errors?.['required']" class="p-error">Password is required</small>
                            <small *ngIf="f.password.errors?.['minlength']" class="p-error">Minimum 6 letter</small>
                            <small *ngIf="f.password.errors?.['maxlength']" class="p-error">Maximum 16 letter</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="confirmPassword">Confirm Password *</label><br>
                        <p-password
                            [toggleMask]="true"
                            [feedback]="false"
                            formControlName="confirmPassword"
                         />
                         <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                            <small *ngIf="f.confirmPassword.errors?.['required']" class="p-error">Confirm Password is required</small>
                            <small *ngIf="f.confirmPassword.errors?.['matchPassword']" class="p-error">Passwords do not match</small>
                        </div>
                    </div>
                </div>
            </div>
            <div formGroupName="userFinancialInfo">
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="bankAccountType">Bank Account Type *</label><br>
                        <p-dropdown formControlName="bankAccountType" [options]="listBankAccountType" optionLabel="name" optionValue="value" placeholder="-- Select --"></p-dropdown>
                        <div *ngIf="infoBank.bankAccountType.invalid && (infoBank.bankAccountType.dirty || infoBank.bankAccountType.touched)">
                            <small *ngIf="infoBank.bankAccountType.errors?.['required']" class="p-error">Bank account type is required</small>
                        </div>
                    </div>
                    <div class="field col mt-3">
                        <label htmlFor="bankAccount">Bank Account *</label><br>
                        <input class="w-full" pInputText formControlName="bankAccount"/>
                        <div *ngIf="infoBank.bankAccount.invalid && (infoBank.bankAccount.dirty || infoBank.bankAccount.touched)">
                            <small *ngIf="infoBank.bankAccount.errors?.['required']" class="p-error">Bank account is required</small>
                        </div>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col mt-3">
                        <label htmlFor="bankName">Bank Name *</label><br>
                        <input class="w-full" pInputText formControlName="bankName"/>
                        <div *ngIf="infoBank.bankName.invalid && (infoBank.bankName.dirty || infoBank.bankName.touched)">
                            <small *ngIf="infoBank.bankName.errors?.['required']" class="p-error">Bank name is required</small>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-everyn align-items-center mt-3">
                    <div class="upload-files flex justify-content-start align-items-center flex-grow-1">
                        <input #rutFile type="file" name="files[]" id="rut" accept="image/*, .pdf" (change)="selectedFile($event, 'rut')" style="display: none;">
                        <p-button class="mr-3" label="{{ fileRut ? fileRut.name : 'Choose RUT' }}" icon="pi pi-plus" [raised]="true" (click)="rutFile.click()" [disabled]="fileRut ? true : false"></p-button>
                        <p-button *ngIf="!uploadRut" class="mr-2" size="small" icon="pi pi-upload" [rounded]="true" [text]="true" [disabled]="fileRut ? false : true" (click)="uploadFile('rut')" pTooltip="Upload file" tooltipPosition="top"></p-button>
                        <p-button *ngIf="!uploadRut" size="small" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [disabled]="fileRut ? false : true" (click)="fileRut = undefined; rutFile.value=''" pTooltip="Remove file" tooltipPosition="top"></p-button>
                        <i *ngIf="uploadRut" class="pi pi-check" style="color: var(--green-500)"></i>
                    </div>
                </div>
                <div class="flex justify-content-everyn align-items-center mt-3">
                    <div class="upload-files flex justify-content-start align-items-center flex-grow-1">
                        <input #dniFile type="file" name="files[]" id="dni" accept="image/*, .pdf" (change)="selectedFile($event, 'dni')" style="display: none;">
                        <p-button class="mr-3" label="{{ fileDni ? fileDni.name : 'Choose DNI' }}" icon="pi pi-plus" [raised]="true" (click)="dniFile.click()" [disabled]="fileDni ? true : false"></p-button>
                        <p-button *ngIf="!uploadDni" class="mr-2" size="small" icon="pi pi-upload" [rounded]="true" [text]="true" [disabled]="fileDni ? false : true" (click)="uploadFile('dni')" pTooltip="Upload file" tooltipPosition="top"></p-button>
                        <p-button *ngIf="!uploadDni" size="small" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [disabled]="fileDni ? false : true" (click)="fileDni = undefined; dniFile.value=''" pTooltip="Remove file" tooltipPosition="top"></p-button>
                        <i *ngIf="uploadDni" class="pi pi-check" style="color: var(--green-500)"></i>
                    </div>
                </div>
                <div class="flex justify-content-everyn align-items-center mt-3">
                    <div class="upload-files flex justify-content-start align-items-center flex-grow-1">
                        <input #bankrefFile type="file" name="files[]" id="bankref" accept="image/*, .pdf" (change)="selectedFile($event, 'bankref')" style="display: none;">
                        <p-button class="mr-3" label="{{ fileBankRef ? fileBankRef.name : 'Choose Bank Ref' }}" icon="pi pi-plus" [raised]="true" (click)="bankrefFile.click()" [disabled]="fileBankRef ? true : false"></p-button>
                        <p-button *ngIf="!uploadBankRef" class="mr-2" size="small" icon="pi pi-upload" [rounded]="true" [text]="true" [disabled]="fileBankRef ? false : true" (click)="uploadFile('bankref')" pTooltip="Upload file" tooltipPosition="top"></p-button>
                        <p-button *ngIf="!uploadBankRef" size="small" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [disabled]="fileBankRef ? false : true" (click)="fileBankRef = undefined; bankrefFile.value=''" pTooltip="Remove file" tooltipPosition="top"></p-button>
                        <i *ngIf="uploadBankRef" class="pi pi-check" style="color: var(--green-500)"></i>
                    </div>
                </div>
                <div class="flex justify-content-everyn align-items-center mt-3">
                    <div class="upload-files flex justify-content-start align-items-center flex-grow-1">
                        <input #signFile type="file" name="files[]" id="signFile" accept="image/*, .pdf" (change)="selectedFile($event, 'sign')" style="display: none;">
                        <p-button class="mr-3" label="{{ fileSign ? fileSign.name : 'Choose Sign' }}" icon="pi pi-plus" [raised]="true" (click)="signFile.click()" [disabled]="fileSign ? true : false"></p-button>
                        <p-button *ngIf="!uploadSign" class="mr-2" size="small" icon="pi pi-upload" [rounded]="true" [text]="true" [disabled]="fileSign ? false : true" (click)="uploadFile('sign')" pTooltip="Upload file" tooltipPosition="top"></p-button>
                        <p-button *ngIf="!uploadSign" size="small" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" [disabled]="fileSign ? false : true" (click)="fileSign = undefined; signFile.value=''" pTooltip="Remove file" tooltipPosition="top"></p-button>
                        <i *ngIf="uploadSign" class="pi pi-check" style="color: var(--green-500)"></i>
                    </div>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <div class="login text-right font-bold text-sm mb-3">
                    <a class="no-underline color-primary" routerLink="/login">I already have an account</a>
                </div>
                <p-button
                    type="submit"
                    [disabled]="form.invalid"
                    label="Sign Up"
                    [raised]="true"
                    [loading]="loading"
                ></p-button>
            </ng-template>
        </p-card>
    </form>
</div>
