.header {
  background-color: var(--primary-color);
  color: white;
}

.menu {
  ul {
    padding: 0;
    list-style: none;
  }

  .submenu {
    position: absolute;
    z-index: 2;
    background-color: #BDC3C7;
    width: 220px;
    padding: 0;

    li {
      padding: 1rem;
      cursor: pointer;
    }

    li:hover {
      background-color: #A6ACAF;
    }
  }
}