<div class="text-center">
  
    <button (click)="pruebaSubida(invoiceToApprove, true)" 
        class="btn btn-success">
        Aprobar
    </button>
    <button (click)="pruebaSubida(invoiceToApprove, false)" 
    class="btn btn-success">
    Denegar
</button>
</div>
